<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.kda">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.intro_activities.ImageDetailsActivity" />
        <activity android:name=".activities.EventDetailsActivity" />
        <activity android:name=".activities.RegionalHeadActivity" />
        <activity android:name=".AdminActivity.ImageListActivity" />
        <activity android:name=".activities.intro_activities.ResetPasswordActivity" />
        <activity android:name=".activities.InternetActivity" />
        <activity android:name=".activities.intro_activities.ContactActivity" />
        <activity android:name=".AdminActivity.EventListActivity" />
        <activity android:name=".AdminActivity.EventRegisterActivity" />
        <activity android:name=".AdminActivity.ImageRegisterActivity" />
        <activity android:name=".AdminActivity.Admin_Menu" />
        <activity android:name=".AdminActivity.AdminMainActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.intro_activities.MainActivity" />
        <activity android:name=".activities.intro_activities.IntroActivity" />
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".activities.intro_activities.ProfileActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_FzdXdG2D1Vm0xH" />
    </application>

</manifest>